[Desktop Entry]
Version=1.0
Type=Application
Name=Navicat
Comment=
Exec=/opt/Navicat/navicat101_premium_en/start_navicat
Icon=ooo-base
Path=
Terminal=false
StartupNotify=false
